@import 'tailwindcss';

@font-face {
  font-family: 'PhunDot';
  src: url('https://kaeru2193.github.io/Phun-Resources/font/PhunDot-latest.woff') format('woff');
}

@font-face {
  font-family: 'Noto-Sans-JP';
  src: local('Noto Sans JP'), local('Noto Sans CJK JP Regular');
}

@font-face {
  font-family: 'Noto-Serif-JP';
  src: local('Noto Serif JP'), local('Noto Serif CJK JP Regular');
}

@theme {
  --font-sans:
    'Inter-Variable', 'Arial', 'Helvetica Neue', 'Noto-Sans-JP', 'BIZ UDPGothic',
    'Hiragino Kaku Gothic ProN', 'Hiragino Sans', sans-serif, 'Segoe UI', system-ui;
  --font-serif:
    'Charis-Web', 'Times New Roman', 'Noto-Serif-JP', 'BIZ UDPMincho', 'Hiragino Mincho',
    'Hiragino Serif', serif, 'Segoe UI', system-ui;
  --font-ipa: 'Charis-Web', 'Times New Roman', serif, system-ui;
  --font-phun-dot: 'PhunDot', var(--font-sans);
  --font-title: 'Yuji Syuku', serif;

  --color-violet-1000-d: oklch(from var(--color-violet-950) 15% 0.06 h);
  --color-violet-950-d: oklch(from var(--color-violet-950) l 0.08 h);
  --color-violet-900-d: oklch(from var(--color-violet-900) l 0.11 h);
  --color-violet-800-d: oklch(from var(--color-violet-800) l 0.13 h);

  --color-body: var(--color-violet-50);
  --color-d-body: var(--color-violet-950-d);
  --color-main: #fff;
  --color-main-pale: var(--color-slate-100);
  --color-d-main: var(--color-violet-1000-d);
  --color-d-main-pale: var(--color-zinc-800);
  --color-text: #000;
  --color-d-text: #fff;
  --color-text-pale: color-mix(in oklch, var(--color-text) 40%, transparent);
  --color-d-text-pale: color-mix(in oklch, var(--color-d-text) 40%, transparent);
  --color-textinv: #fff;
  --color-d-textinv: #000;
  --color-accent: var(--color-violet-950-d);
  --color-accent-lighter: color-mix(in oklch, var(--color-accent) 60%, #fff);
  --color-d-accent: var(--color-violet-50);
  --color-d-accent-lighter: color-mix(in oklch, var(--color-d-accent) 80%, #000);
  --color-accent2: var(--color-violet-100);
  --color-d-accent2: var(--color-violet-900-d);
  --color-border: hsl(0 0 0 / 25%);
  --color-border-light: hsl(0 0 0 / 12%);
  --color-border-dark: hsl(0 0 0 / 50%);
  --color-d-border: hsl(0 0 100 / 25%);
  --color-d-border-light: hsl(0 0 100 / 12%);
  --color-d-border-dark: hsl(0 0 100 / 44%);
  --color-link: var(--color-blue-700);
  --color-d-link: var(--color-blue-300);
  --color-link-disabled: hsl(0 0 0 / 40%);
  --color-d-link-disabled: hsl(0 0 100 / 40%);
  --color-caution: var(--color-red-600);
  --color-d-caution: var(--color-yellow-300);

  --grad-vivid: linear-gradient(135deg in oklch, #0000e0, #c000e0);
  --grad-d-vivid: var(--grad-vivid);
  --grad-today-word: linear-gradient(in oklch, #fff, var(--color-violet-50));
  --grad-d-today-word: linear-gradient(in oklch, var(--color-violet-950-d), #000);
  --grad-accent: linear-gradient(in oklch, var(--color-violet-800-d), var(--color-violet-950-d));
  --grad-d-accent: linear-gradient(in oklch, var(--color-violet-50), var(--color-violet-200));

  --link-transition-dur: 120ms;
  --default-transition-duration: 110ms;

  --spacing-paragraph: 0.75rem;
  --spacing-heading: 2.5rem;
  --spacing-gutter: 1rem;
  --spacing-figure: 2rem;
  --spacing-header: 3rem;
  --spacing-max-main: 80rem;
  --spacing-min-side: 16rem;

  --ease-out-1: cubic-bezier(0, 0.5, 0.5, 1);
  --ease-in-1: cubic-bezier(0.5, 0, 1, 0.5);
  --ease-in-out-1: cubic-bezier(0.25, 0, 0.1, 1);
  --ease-in-out-1-slow: cubic-bezier(0.55, 0, 0.45, 1);

  --z-toast: calc(infinity);
  --z-drawer: 300;
  --z-header: 200;
  --z-sidemenu: 100;

  --default-font-feature-settings: 'case', 'cv01', 'cv05', 'cv08', 'cv10', 'cv07', 'ss03';
  --f-feat-tnum: var(--default-font-feature-settings), 'tnum';

  @keyframes --k-top-logo-rot {
    from {
      transform: translateY(-120px) rotate(-120deg);
    }
    to {
      transform: translateY(0) rotate(0);
    }
  }

  @keyframes --k-top-logo-fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  --animate-top-logo: --k-top-logo-rot 2s var(--ease-in-out-1), --k-top-logo-fade 2s linear;

  @keyframes --k-err-up-down {
    from {
      transform: translateY(-15px);
    }
    to {
      transform: translateY(15px);
    }
  }

  --animate-err-up-down: --k-err-up-down 1.5s var(--ease-in-out-1-slow) infinite alternate;

  @keyframes --k-err-rot {
    from {
      transform: rotateY(0);
    }
    to {
      transform: rotateY(360deg);
    }
  }

  --animate-err-rot: --k-err-rot 20s linear infinite;

  @keyframes --k-toast-fadein {
    from {
      opacity: 0;
      top: -10px;
    }
    to {
      opacity: 1;
      top: 0;
    }
  }

  --animate-toast: --k-toast-fadein 100ms var(--ease-in-out-1);

  @keyframes --k-swa-slide-in {
    from {
      translate: 0 1rem;
    }
    to {
      translate: 0 0;
    }
  }

  @keyframes --k-swa-fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  --animate-swa: --k-swa-slide-in 300ms var(--ease-in-out-1), --k-swa-fade-in 300ms linear;
}

@utility cbg-* {
  background-color: --value(--color-*);

  @media (prefers-color-scheme: dark) {
    background-color: --value(--color-d- *);
  }

  [data-color-scheme='dark'] & {
    background-color: --value(--color-d-*);
  }

  [data-color-scheme='light'] & {
    background-color: --value(--color-*);
  }
}

@utility gbg-* {
  background-image: --value(--grad-*);

  @media (prefers-color-scheme: dark) {
    background-image: --value(--grad-d- *);
  }

  [data-color-scheme='dark'] & {
    background-image: --value(--grad-d-*);
  }

  [data-color-scheme='light'] & {
    background-image: --value(--grad-*);
  }
}

@utility ctext-* {
  color: --value(--color-*);

  @media (prefers-color-scheme: dark) {
    color: --value(--color-d- *);
  }

  [data-color-scheme='dark'] & {
    color: --value(--color-d-*);
  }

  [data-color-scheme='light'] & {
    color: --value(--color-*);
  }
}

@utility cborder-* {
  border-color: --value(--color-*);

  @media (prefers-color-scheme: dark) {
    border-color: --value(--color-d- *);
  }

  [data-color-scheme='dark'] & {
    border-color: --value(--color-d-*);
  }

  [data-color-scheme='light'] & {
    border-color: --value(--color-*);
  }
}

@utility user-select-* {
  user-select: --value('none', 'auto', 'all', 'text');
  -webkit-user-select: --value('none', 'auto', 'all', 'text');
}

@utility grid-cols-auto-* {
  grid-template-columns: repeat(--value(integer), auto);
}

@utility grid-cols-auto-fill-* {
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(calc(var(--spacing) * --value(integer)), 100%), 1fr)
  );
  grid-template-columns: repeat(auto-fill, minmax(min(--value([*]), 100%), 1fr));
}

@utility grid-cols-auto-fit-* {
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(calc(var(--spacing) * --value(integer)), 100%), 1fr)
  );
  grid-template-columns: repeat(auto-fit, minmax(min(--value([*]), 100%), 1fr));
}

@utility btn-1 {
  @apply cbg-accent any-hover:opacity-70 transition-opacity rounded ctext-textinv px-2 no-underline;
}

@utility btn-2 {
  @apply cbg-accent2 any-hover:opacity-70 transition-opacity border cborder-border rounded px-2;
}

@utility font-feat-* {
  font-feature-settings: --value(--f-feat-*, [*]);
}

@utility cont-vis-* {
  content-visibility: --value('visible', 'hidden', 'auto');
}

@utility allow-discrete {
  transition-behavior: allow-discrete;
}

@custom-variant any-hover {
  @media (any-hover: hover) {
    &:hover {
      @slot;
    }
  }

  &:focus-visible {
    @slot;
  }
}

@custom-variant d {
  @media (prefers-color-scheme: dark) {
    @slot;
  }

  [data-color-scheme='dark'] & {
    @slot;
  }
}

@custom-variant l {
  @slot;

  [data-color-scheme='light'] & {
    @slot;
  }
}

@layer base {
  * {
    @apply font-[unset];
  }

  :root {
    @apply max-sm:text-sm wrap-anywhere hyphens-auto font-sans;
    -webkit-tap-highlight-color: revert;
    font-optical-sizing: auto;
    line-break: strict;
    scrollbar-gutter: stable;
  }

  @supports (word-break: auto-phrase) {
    :where(:lang(ja)) {
      word-break: auto-phrase;
    }
  }

  [lang='x-v3-karphnpn'] {
    @apply font-phun-dot;
  }

  body {
    @apply flow-root cbg-body ctext-text min-h-lvh;
  }

  main {
    @apply flow-root cbg-main px-gutter min-h-lvh;
  }

  a:where(:any-link:not([aria-disabled='true'])) {
    @apply ctext-link any-hover:underline;
  }

  a:where([aria-disabled='true']) {
    @apply ctext-link-disabled pointer-events-none;
  }

  b,
  strong,
  th {
    @apply font-semibold;
  }

  button,
  input:is([type='button'], [type='checkbox'], [type='radio'], [type='submit'], [type='reset']) {
    @apply cursor-pointer;
  }

  input:is(
    [type='text'],
    [type='number'],
    [type='url'],
    [type='email'],
    [type='search'],
    [type='tel']
  ),
  textarea {
    @apply font-mono border cborder-border rounded px-1;

    &:disabled {
      @apply ctext-text-pale cbg-main-pale;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply ctext-accent font-serif;
  }

  h2 {
    @apply text-3xl ps-1 pb-1 border-b cborder-border-dark;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-heading;
  }

  p,
  ul,
  ol,
  pre {
    @apply mt-paragraph;
  }

  ul,
  ol {
    @apply ps-6;
  }

  li > :is(ul, ol) {
    @apply ps-4;
  }

  li > :is(ul, ol, p) {
    @apply mt-0;
  }

  img,
  table {
    @apply my-figure;
  }

  img {
    @apply mx-auto w-max max-w-full;
  }

  ul {
    list-style-type: '\2023\0020';
  }

  ol {
    @apply list-decimal;
  }

  textarea {
    @apply resize-none;
  }

  pre.shiki {
    @apply overflow-auto max-w-full p-4 rounded;
  }

  table {
    @apply whitespace-nowrap break-keep w-max max-w-full text-center me-auto overflow-x-auto;
    grid-template-columns: repeat(var(--cols, 1), auto);
    grid-template-rows: repeat(calc(var(--rows, 1) + var(--caption, 0)), auto);
  }

  table,
  thead,
  tbody,
  tr {
    @apply grid;
  }

  td,
  th {
    @apply block self-center col-span-(--col-span,1) row-span-(--row-span,1) px-2 py-1;
  }

  caption {
    @apply col-span-full font-serif text-lg pb-1;
  }

  thead,
  tbody,
  tr {
    @apply grid-cols-subgrid grid-rows-subgrid col-span-full;
  }

  thead {
    @apply row-span-(--head-rows,0);
  }

  tbody {
    --body-rows: calc(var(--rows, 1) - var(--head-rows, 0));
    @apply row-span-(--body-rows);
  }

  tr:where(thead > tr:last-child) {
    @apply border-b-3 border-double cborder-border-dark;
  }

  tr:where(tbody > tr:not(:last-child)),
  tr:where(thead > tr:not(:last-child)) {
    @apply border-b cborder-border;
  }
}
