@import 'tailwindcss';

@font-face {
  font-family: 'PhunDot';
  src: url('https://kaeru2193.github.io/Phun-Resources/font/PhunDot-latest.woff') format('woff');
}

@theme {
  --font-sans:
    'Inter-Variable', 'Arial', 'Helvetica Neue', 'Noto Sans JP', 'BIZ UDPGothic',
    'Hiragino Kaku Gothic ProN', 'Hiragino Sans', sans-serif, 'Segoe UI', 'Yu Gothic UI', system-ui;
  --font-serif:
    'Charis-Web', 'Times New Roman', 'Noto Serif JP', 'BIZ UDPMincho', 'Hiragino Mincho',
    'Hiragino Serif', serif, 'Segoe UI', 'Yu Gothic UI', system-ui;
  --font-ipa: 'Charis-Web', 'Times New Roman', serif, system-ui;
  --font-phun-dot: 'PhunDot', var(--font-sans);
  --color-mnlila: oklch(0.18 0.0957 296);
  --color-mnlila-2: oklch(0.2774 0.1512 296);
  --color-mnlila-100: var(--color-violet-950);
  --color-title-s: oklch(0.3 0.1469 316);
  --color-title-e: oklch(0.3 0.1469 276);
  --color-llila: oklch(0.91 0.0488 296);
  --color-llila-2: oklch(0.85 0.0836 296);
  --color-violet-1000-d: oklch(from var(--color-violet-950) 15% 0.06 h);
  --color-violet-950-d: oklch(from var(--color-violet-950) l 0.08 h);
  --color-violet-900-d: oklch(from var(--color-violet-900) l 0.11 h);
  --color-violet-800-d: oklch(from var(--color-violet-800) l 0.13 h);

  --color-body: var(--color-violet-50);
  --color-d-body: var(--color-violet-950-d);
  --color-main: #fff;
  --color-d-main: var(--color-violet-1000-d);
  --color-text: #000;
  --color-d-text: #fff;
  --color-textinv: #fff;
  --color-d-textinv: #000;
  --color-accent: var(--color-violet-950-d);
  --color-d-accent: var(--color-violet-50);
  --color-accent2: var(--color-violet-900-d);
  --color-d-accent2: var(--color-violet-100);
  --color-border: var(--color-slate-400);
  --color-d-border: var(--color-slate-500);
  --color-border-dark: var(--color-slate-600);
  --color-d-border-dark: var(--color-slate-300);
  --color-link: var(--color-blue-700);
  --color-d-link: var(--color-blue-400);
  --color-caution: var(--color-red-600);
  --color-d-caution: var(--color-yellow-300);

  --grad-top-caption: linear-gradient(
    to bottom right in oklch,
    var(--color-blue-950),
    var(--color-violet-950)
  );
  --grad-d-top-caption: var(--grad-top-caption);

  --link-transition-dur: 120ms;
  --tracking-ultra: 3rem;
  --default-transition-duration: 110ms;
  --s-paragraph: 0.75rem;
  --s-heading: 2.5rem;
  --s-figure: 2rem;
  --w-main: 80rem;
  --w-side: 18rem;
  --cols-main: minimax(min(var(--w-side), 50%), 1fr) minimax(0, var(--w-main))
    minimax(min(var(--w-side), 50%), 1fr);

  @keyframes slide-in {
    from {
      transform: translateY(-70px) rotate(-120deg);
    }
    to {
      transform: translateY(0) rotate(0);
    }
  }

  @keyframes slide-in-2 {
    from {
      transform: translateY(15px);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes up-down {
    from {
      transform: translateY(-15px);
    }
    to {
      transform: translateY(15px);
    }
  }

  @keyframes rot-y {
    from {
      transform: rotateY(0);
    }
    to {
      transform: rotateY(360deg);
    }
  }
}

@utility cbg-* {
  background-color: --value(--color-*);

  @media (prefers-color-scheme: dark) {
    background-color: --value(--color-d- *);
  }

  &:is([data-color-scheme='dark'], [data-color-scheme='dark'] &, :has([data-color-scheme='dark'])) {
    background-color: --value(--color-d-*);
  }

  &:is(
    [data-color-scheme='light'],
    [data-color-scheme='light'] &,
    :has([data-color-scheme='light'])
  ) {
    background-color: --value(--color-d-*);
  }
}

@utility gbg-* {
  background-image: --value(--grad-*);

  @media (prefers-color-scheme: dark) {
    background-image: --value(--grad-d- *);
  }

  &:is([data-color-scheme='dark'], [data-color-scheme='dark'] &, :has([data-color-scheme='dark'])) {
    background-image: --value(--grad-d-*);
  }

  &:is(
    [data-color-scheme='light'],
    [data-color-scheme='light'] &,
    :has([data-color-scheme='light'])
  ) {
    background-image: --value(--grad-d-*);
  }
}

@utility ctext-* {
  color: --value(--color-*);

  @media (prefers-color-scheme: dark) {
    color: --value(--color-d- *);
  }

  &:is([data-color-scheme='dark'], [data-color-scheme='dark'] &, :has([data-color-scheme='dark'])) {
    color: --value(--color-d-*);
  }

  &:is(
    [data-color-scheme='light'],
    [data-color-scheme='light'] &,
    :has([data-color-scheme='light'])
  ) {
    color: --value(--color-d-*);
  }
}

@utility cborder-* {
  border-color: --value(--color-*);

  @media (prefers-color-scheme: dark) {
    border-color: --value(--color-d- *);
  }

  &:is([data-color-scheme='dark'], [data-color-scheme='dark'] &, :has([data-color-scheme='dark'])) {
    border-color: --value(--color-d-*);
  }

  &:is(
    [data-color-scheme='light'],
    [data-color-scheme='light'] &,
    :has([data-color-scheme='light'])
  ) {
    border-color: --value(--color-d-*);
  }
}

@utility user-select-* {
  user-select: --value('none', 'auto', 'all', 'text');
  -webkit-user-select: --value('none', 'auto', 'all', 'text');
}

@utility table-container {
  @apply overflow-x-auto my-8;
  scrollbar-width: thin;
}

@utility link-disabled {
  @apply pointer-events-none text-neutral-600 any-hover:no-underline;
}

@utility grid-cols-auto-* {
  grid-template-columns: repeat(--value(integer), auto);
}

@utility btn-1 {
  @apply cbg-accent any-hover:opacity-70 transition-opacity rounded ctext-textinv px-2 no-underline;
}

@utility btn-2 {
  @apply cbg-accent2 any-hover:opacity-70 transition-opacity border cborder-border rounded px-2;
}

@utility f-tnum {
  font-feature-settings: 'tnum';
}

@custom-variant any-hover {
  @media (any-hover: hover) {
    &:hover {
      @slot;
    }
  }
}

@custom-variant d {
  @media (prefers-color-scheme: dark) {
    @slot;
  }

  &:is([data-color-scheme='dark'], [data-color-scheme='dark'] &, :has([data-color-scheme='dark'])) {
    @slot;
  }
}

@layer base {
  * {
    @apply wrap-anywhere hyphens-auto;
    line-break: strict;
    font-optical-sizing: auto;
  }

  :where(html, :host) {
    -webkit-tap-highlight-color: revert;
    @apply font-sans max-sm:text-sm;
  }

  :where(:not(pre, code, body, html)) {
    @apply font-[inherit];
  }

  [lang='x-v3-karphnpn'] {
    @apply font-phun-dot;
  }

  body {
    @apply cbg-body ctext-text;
  }

  a {
    @apply ctext-link any-hover:underline;
  }

  button,
  input[type='button'] {
    @apply cursor-pointer;
  }

  input[type='text'],
  input[type='number'],
  input[type='url'],
  textarea {
    @apply font-mono border cborder-border rounded px-1;

    &:disabled {
      @apply text-neutral-500 bg-neutral-50;
    }
  }

  li > ul {
    @apply mb-0;
  }

  :is(h2, h3, h4, h5, h6) {
    @apply ctext-accent font-serif;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  :is(h2, h3, h4) {
    @apply mt-(--s-heading);
  }

  :is(h5, h6, p, ul, ol, pre) {
    @apply mt-(--s-paragraph);
  }

  li > :where(ul, ol, p) {
    @apply mt-0;
  }

  img,
  .table-container:has(> table) {
    @apply my-(--s-figure);
  }

  img {
    @apply mx-auto w-max max-w-full;
  }

  .table-container:has(> table) {
    @apply overflow-x-auto max-w-full;
  }

  table {
    @apply text-nowrap w-max max-w-full;

    :where(td, th) {
      @apply px-2 py-1;
    }

    :where(> thead > tr:last-child) {
      @apply cborder-border-dark;
    }

    :where(> tbody > tr:not(:last-child)) {
      @apply cborder-border;
    }
  }

  ul {
    list-style: '\2023';
  }

  ol {
    @apply list-decimal;
  }

  :is(b, strong) {
    @apply font-semibold;
  }

  textarea {
    @apply resize-none;
  }
}
