@import 'tailwindcss';

/* font-face settings */

@font-face {
	font-family: 'InterVariable';
	font-style: normal;
	src:
		local('Inter'),
		url('/woff2/Inter-VariableFont_opsz,wght.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'InterVariable';
	font-style: italic;
	src:
		local('Inter Italic'),
		url('/woff2/Inter-Italic-VariableFont_opsz,wght.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'CharisSIL';
	font-weight: 100 500;
	font-style: normal;
	src:
		local('Charis SIL'),
		url('/woff2/CharisSIL-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'CharisSIL';
	font-weight: 100 500;
	font-style: italic;
	src:
		local('Charis SIL Italic'),
		url('/woff2/CharisSIL-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'CharisSIL';
	font-weight: 600 900;
	font-style: normal;
	src:
		local('Charis SIL Bold'),
		url('/woff2/CharisSIL-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'CharisSIL';
	font-weight: 600 900;
	font-style: italic;
	src:
		local('Charis SIL Bold Italic'),
		url('/woff2/CharisSIL-BoldItalic.woff2') format('woff2');
}

@theme {
	--font-sans:
		'InterVariable', 'Arial', 'Helvetica Neue', 'Noto Sans JP', 'BIZ UDPGothic',
		'Hiragino Kaku Gothic ProN', 'Hiragino Sans', sans-serif, 'Segoe UI', 'Yu Gothic UI', system-ui;
	--font-serif:
		'CharisSIL', 'Times New Roman', 'Noto Serif JP', 'BIZ UDPMincho', 'Hiragino Mincho',
		'Hiragino Serif', serif, 'Segoe UI', 'Yu Gothic UI', system-ui;
	--font-ipa: 'CharisSIL', 'Times New Roman', serif, system-ui;
	--color-mnlila: oklch(0.18 0.0957 296);
	--color-title-s: oklch(0.3 0.1545 306);
	--color-title-e: oklch(0.3 0.1632 286);
	--color-llila: oklch(0.9176 0.0444 296);
	--gutter: calc(var(--spacing) * 4);
	--ngutter: calc(var(--gutter) * -1);
	--link-transition-dur: 120ms;
	--tracking-ultra: 3rem;
}

@property --lightness {
	syntax: '<number>';
	inherits: false;
	initial-value: 0;
}

@property --chroma {
	syntax: '<number>';
	inherits: false;
	initial-value: 0;
}

@property --hue {
	syntax: '<number>';
	inherits: false;
	initial-value: 296;
}

@layer base {
	* {
		font-optical-sizing: auto;
		scroll-behavior: smooth;
	}

	html,
	:host {
		-webkit-tap-highlight-color: revert;
	}
	a {
		@apply text-blue-700 hover:underline;
	}

	button {
		@apply cursor-pointer;
	}

	h2,
	h3,
	p,
	ul {
		@apply mb-3 leading-[1.5];
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-mnlila font-serif;
	}

	h2 {
		@apply text-3xl lg:text-4xl text-center border-b;
	}

	h2#subtitle {
		@apply border-none my-8;
	}

	h3 {
		@apply text-2xl;
	}

	ul {
		list-style: '\2023';

		li {
			@apply ms-3 ps-1;
		}
	}
}
