@import 'tailwindcss';

@font-face {
  font-family: 'PhunDot';
  src: url('https://kaeru2193.github.io/Phun-Resources/font/PhunDot-latest.woff') format('woff');
}

@font-face {
  font-family: 'Noto-Sans-JP';
  src: local('Noto Sans JP'), local('Noto Sans CJK JP Regular');
}

@font-face {
  font-family: 'Noto-Serif-JP';
  src: local('Noto Serif JP'), local('Noto Serif CJK JP Regular');
}

@theme {
  --font-sans:
    'Inter-Variable', 'Arial', 'Helvetica Neue', 'Noto-Sans-JP', 'BIZ UDPGothic',
    'Hiragino Kaku Gothic ProN', 'Hiragino Sans', sans-serif, 'Segoe UI', system-ui;
  --font-serif:
    'Charis-Web', 'Times New Roman', 'Noto-Serif-JP', 'BIZ UDPMincho', 'Hiragino Mincho',
    'Hiragino Serif', serif, 'Segoe UI', system-ui;
  --font-ipa: 'Charis-Web', 'Times New Roman', serif, system-ui;
  --font-phun-dot: 'PhunDot', var(--font-sans);
  --font-title: 'Yuji Syuku', serif;

  --color-violet-1000-d: oklch(from var(--color-violet-950) 15% 0.06 h);
  --color-violet-950-d: oklch(from var(--color-violet-950) l 0.08 h);
  --color-violet-900-d: oklch(from var(--color-violet-900) l 0.11 h);
  --color-violet-800-d: oklch(from var(--color-violet-800) l 0.13 h);

  --color-body: var(--color-violet-50);
  --color-d-body: var(--color-violet-950-d);
  --color-main: #fff;
  --color-main-pale: var(--color-slate-100);
  --color-d-main: var(--color-violet-1000-d);
  --color-d-main-pale: var(--color-zinc-800);
  --color-text: #000;
  --color-d-text: #fff;
  --color-text-pale: color-mix(in oklch, var(--color-text) 40%, transparent);
  --color-d-text-pale: color-mix(in oklch, var(--color-d-text) 40%, transparent);
  --color-textinv: #fff;
  --color-d-textinv: #000;
  --color-accent: var(--color-violet-950-d);
  --color-d-accent: var(--color-violet-50);
  --color-accent2: var(--color-violet-100);
  --color-d-accent2: var(--color-violet-900-d);
  --color-border: #00000040;
  --color-border-light: #00000020;
  --color-border-dark: #00000080;
  --color-d-border: #ffffff40;
  --color-d-border-light: #ffffff20;
  --color-d-border-dark: #ffffff70;
  --color-link: var(--color-blue-700);
  --color-d-link: var(--color-blue-300);
  --color-link-disabled: var(--color-zinc-500);
  --color-d-link-disabled: var(--color-zinc-300);
  --color-caution: var(--color-red-600);
  --color-d-caution: var(--color-yellow-300);
  --color-td1: transparent;
  --color-td2: color-mix(in oklch, var(--color-slate-950) 5%, transparent);
  --color-th1: color-mix(in oklch, var(--color-violet-600) 5%, transparent);
  --color-th2: color-mix(in oklch, var(--color-violet-600) 12%, transparent);
  --color-d-td1: var(--color-d-main);
  --color-d-td2: var(--color-slate-800);
  --color-d-th1: var(--color-violet-950-d);
  --color-d-th2: var(--color-violet-800-d);

  --grad-vivid: linear-gradient(to bottom right in oklch, #0000e0, #c000e0);
  --grad-d-vivid: var(--grad-vivid);
  --grad-today-word: linear-gradient(to bottom in oklch, #fff, var(--color-violet-50));
  --grad-d-today-word: linear-gradient(to bottom in oklch, var(--color-violet-950-d), #000);
  --grad-accent: linear-gradient(
    to bottom in oklch,
    var(--color-violet-800-d),
    var(--color-violet-950-d)
  );
  --grad-d-accent: linear-gradient(
    to bottom in oklch,
    var(--color-violet-50),
    var(--color-violet-200)
  );

  --link-transition-dur: 120ms;
  --default-transition-duration: 110ms;

  --tracking-ultra: 3rem;

  --s-paragraph: 0.75rem;
  --s-heading: 2.5rem;
  --s-gutter: 1rem;
  --s-figure: 2rem;
  --s-header: 3rem;

  --tf-ease-out: cubic-bezier(0, 0.5, 0.5, 1);
  --tf-ease-in: cubic-bezier(0.5, 0, 1, 0.5);
  --tf-ease-in-out: cubic-bezier(0.5, 0, 0.5, 1);

  @keyframes --k-top-logo {
    from {
      transform: translateY(-70px) rotate(-120deg);
      opacity: 0;
    }
    to {
      transform: translateY(0) rotate(0);
      opacity: 1;
    }
  }

  --animate-top-logo: --k-top-logo 2s var(--tf-ease-out);

  @keyframes --k-err-up-down {
    from {
      transform: translateY(-15px);
    }
    to {
      transform: translateY(15px);
    }
  }

  --animate-err-up-down: --k-err-up-down 1.5s var(--tf-ease-in-out) infinite alternate;

  @keyframes --k-err-rot {
    from {
      transform: rotateY(0);
    }
    to {
      transform: rotateY(360deg);
    }
  }

  --animate-err-rot: --k-err-rot 20s linear infinite;

  @keyframes --k-toast-fadein {
    from {
      opacity: 0;
      top: -10px;
    }
    to {
      opacity: 1;
      top: 0;
    }
  }

  --animate-toast: --k-toast-fadein 0.1s var(--tf-ease-out);

  @keyframes --k-swa-slide-in {
    from {
      translate: 0 1rem;
    }
    to {
      translate: 0 0;
    }
  }

  @keyframes --k-swa-fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  --animate-swa: --k-swa-slide-in 300ms var(--tf-ease-out), --k-swa-fade-in 300ms linear;
}

@utility cbg-* {
  background-color: --value(--color-*);

  @media (prefers-color-scheme: dark) {
    background-color: --value(--color-d- *);
  }

  [data-color-scheme='dark'] & {
    background-color: --value(--color-d-*);
  }

  [data-color-scheme='light'] & {
    background-color: --value(--color-*);
  }
}

@utility gbg-* {
  background-image: --value(--grad-*);

  @media (prefers-color-scheme: dark) {
    background-image: --value(--grad-d- *);
  }

  [data-color-scheme='dark'] & {
    background-image: --value(--grad-d-*);
  }

  [data-color-scheme='light'] & {
    background-image: --value(--grad-*);
  }
}

@utility ctext-* {
  color: --value(--color-*);

  @media (prefers-color-scheme: dark) {
    color: --value(--color-d- *);
  }

  [data-color-scheme='dark'] & {
    color: --value(--color-d-*);
  }

  [data-color-scheme='light'] & {
    color: --value(--color-*);
  }
}

@utility cborder-* {
  border-color: --value(--color-*);

  @media (prefers-color-scheme: dark) {
    border-color: --value(--color-d- *);
  }

  [data-color-scheme='dark'] & {
    border-color: --value(--color-d-*);
  }

  [data-color-scheme='light'] & {
    border-color: --value(--color-*);
  }
}

@utility user-select-* {
  user-select: --value('none', 'auto', 'all', 'text');
  -webkit-user-select: --value('none', 'auto', 'all', 'text');
}

@utility link-disabled {
  @apply pointer-events-none text-neutral-600 any-hover:no-underline;
}

@utility grid-cols-auto-* {
  grid-template-columns: repeat(--value(integer), auto);
}

@utility grid-cols-auto-fill-* {
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(calc(var(--spacing) * --value(integer)), 100%), 1fr)
  );
}

@utility grid-cols-auto-fit-* {
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(calc(var(--spacing) * --value(integer)), 100%), 1fr)
  );
}

@utility btn-1 {
  @apply cbg-accent any-hover:opacity-70 transition-opacity rounded ctext-textinv px-2 no-underline;
}

@utility btn-2 {
  @apply cbg-accent2 any-hover:opacity-70 transition-opacity border cborder-border rounded px-2;
}

@utility font-feat-* {
  font-feature-settings: --value([*]);
}

@custom-variant any-hover {
  @media (any-hover: hover) {
    &:hover {
      @slot;
    }
  }
}

@custom-variant d {
  @media (prefers-color-scheme: dark) {
    @slot;
  }

  [data-color-scheme='dark'] & {
    @slot;
  }
}

@custom-variant l {
  @slot;

  [data-color-scheme='light'] & {
    @slot;
  }
}

@layer base {
  :is(html, :host) {
    -webkit-tap-highlight-color: revert;
    font-optical-sizing: auto;
    line-break: strict;
    @apply font-sans max-sm:text-sm wrap-anywhere hyphens-auto;
  }

  :not(pre, code, body, html, input, textarea) {
    @apply font-[inherit];
  }

  :lang(x-v3-karphnpn) {
    @apply font-phun-dot;
  }

  body {
    @apply flow-root cbg-body ctext-text min-h-lvh;
  }

  main {
    @apply flow-root cbg-main px-(--s-gutter) min-h-lvh;
  }

  a {
    @apply ctext-link any-hover:underline;

    &[aria-disabled='true'] {
      @apply ctext-link-disabled no-underline;
    }
  }

  :is(b, strong, th) {
    @apply font-semibold;
  }

  button,
  input:is([type='button'], [type='checkbox'], [type='radio'], [type='submit'], [type='reset']) {
    @apply cursor-pointer;
  }

  input:is(
    [type='text'],
    [type='number'],
    [type='url'],
    [type='email'],
    [type='search'],
    [type='tel']
  ),
  textarea {
    @apply font-mono border cborder-border rounded px-1;

    &:disabled {
      @apply ctext-text-pale cbg-main-pale;
    }
  }

  li > ul {
    @apply mb-0;
  }

  :is(h2, h3, h4, h5, h6) {
    @apply ctext-accent font-serif;
  }

  h2 {
    @apply text-3xl ps-1 pb-1 border-b cborder-border-dark;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  :is(h2, h3, h4) {
    @apply mt-(--s-heading);
  }

  :is(h5, h6, p, ul, ol, pre) {
    @apply mt-(--s-paragraph);
  }

  :is(ul, ol) {
    @apply ps-5;
  }

  li > :is(ul, ol) {
    @apply ps-4;
  }

  li > :is(ul, ol, p) {
    @apply mt-0;
  }

  img,
  .table-container:has(> table) {
    @apply my-(--s-figure);
  }

  img {
    @apply mx-auto w-max max-w-full;
  }

  .table-container:has(> table) {
    @apply overflow-x-auto max-w-full;
  }

  table {
    @apply whitespace-nowrap break-keep w-max max-w-full text-center;

    :where(td, th) {
      @apply px-2 py-1;
    }

    :where(& > thead > tr:last-child) {
      @apply border-b-3 border-double cborder-border-dark;
    }

    :where(& > tbody > tr:not(:last-child)) {
      @apply border-b cborder-border;
    }

    :where(caption) {
      @apply font-serif text-lg pb-1;
    }
  }

  ul {
    list-style-type: '\2023\0020';
  }

  ol {
    @apply list-decimal;
  }

  textarea {
    @apply resize-none;
  }

  pre.shiki {
    @apply overflow-auto max-w-full px-2 py-1 rounded;
  }
}
