@import 'tailwindcss';

@font-face {
  font-family: 'PhunDot';
  font-display: swap;
  src: url('https://kaeru2193.github.io/Phun-Resources/font/PhunDot-latest.woff') format('woff');
}

@font-face {
  font-family: 'noto-sans-jp';
  font-display: swap;
  src: local('Noto Sans JP'), local('Noto Sans CJK JP');
}

@font-face {
  font-family: 'noto-serif-jp';
  font-display: swap;
  src: local('Noto Serif JP'), local('Noto Serif CJK JP');
}

/* theme variables */

@theme {
  --font-sans:
    'Inter-Variable', 'Arial', 'Helvetica Neue', 'noto-sans-jp', 'BIZ UDPGothic',
    'Hiragino Kaku Gothic ProN', 'Hiragino Sans', sans-serif, 'Segoe UI', system-ui;
  --font-serif:
    'Charis-Web', 'Times New Roman', 'noto-serif-jp', 'BIZ UDPMincho', 'Hiragino Mincho',
    'Hiragino Serif', serif, 'Segoe UI', system-ui;
  --font-ipa: 'Charis-Web', 'Times New Roman', serif, system-ui;
  --font-phun-dot: 'PhunDot', var(--font-sans);
  --font-title: 'Yuji Syuku', serif;

  --color-violet-1000-d: oklch(from var(--color-violet-950) 15% 0.06 h);
  --color-violet-950-d: oklch(from var(--color-violet-950) l 0.08 h);
  --color-violet-900-d: oklch(from var(--color-violet-900) l 0.11 h);
  --color-violet-800-d: oklch(from var(--color-violet-800) l 0.13 h);

  --color-body: light-dark(var(--color-violet-50), var(--color-violet-950-d));
  --color-main: Canvas;
  --color-text: CanvasText;
  --color-text-pale: hsl(from var(--color-text) h s l / 40%);
  --color-textinv: Canvas;
  --color-l-accent: var(--color-violet-950-d);
  --color-d-accent: var(--color-violet-50);
  --color-accent: light-dark(var(--color-l-accent), var(--color-d-accent));
  --color-l-accent-lighter: color-mix(in oklch, var(--color-l-accent) 60%, #fff);
  --color-d-accent-lighter: color-mix(in oklch, var(--color-d-accent) 80%, #000);
  --color-accent-lighter: light-dark(var(--color-l-accent-lighter), var(--color-d-accent-lighter));
  --color-accent2: light-dark(var(--color-violet-100), var(--color-violet-900-d));
  --color-border: light-dark(hsl(0 0 0 / 25%), hsl(0 0 100 / 25%));
  --color-border-lighter: light-dark(hsl(0 0 0 / 15%), hsl(0 0 100 / 15%));
  --color-border-darker: light-dark(hsl(0 0 0 / 50%), hsl(0 0 100 / 44%));
  --color-link: light-dark(var(--color-blue-700), #4cff4c);
  --color-link-disabled: light-dark(hsl(0 0 0 / 40%), hsl(0 0 100 / 40%));
  --color-caution: light-dark(var(--color-red-600), var(--color-yellow-300));

  --color-today-word-s: light-dark(#fff, var(--color-violet-950-d));
  --color-today-word-e: light-dark(var(--color-violet-50), #000);
  --color-card-list-s: light-dark(var(--color-violet-800-d), var(--color-violet-50));
  --color-card-list-e: light-dark(var(--color-violet-950-d), var(--color-violet-200));
  --l-main-title-s: #0000e0;
  --l-main-title-e: #c000e0;
  --d-main-title-s: color-mix(in oklch, #0000e0 30%, #000);
  --d-main-title-e: color-mix(in oklch, #c000e0 30%, #000);
  --color-main-title-s: light-dark(var(--l-main-title-s), var(--d-main-title-s));
  --color-main-title-e: light-dark(var(--l-main-title-e), var(--d-main-title-e));

  --link-transition-dur: 120ms;
  --default-transition-duration: 110ms;

  --spacing-paragraph: 0.75rem;
  --spacing-heading: 2.5rem;
  --spacing-gutter: 1rem;
  --spacing-figure: 2rem;
  --spacing-header: 3rem;
  --spacing-max-main: 80rem;
  --spacing-min-side: 16rem;

  --default-transition-timing-function: cubic-bezier(0.25, 0, 0.1, 1);
  --ease-out-1: cubic-bezier(0, 0.5, 0.5, 1);
  --ease-in-1: cubic-bezier(0.5, 0, 1, 0.5);
  --ease-in-out-1: cubic-bezier(0.25, 0, 0.1, 1);
  --ease-in-out-1-slow: cubic-bezier(0.55, 0, 0.45, 1);

  --z-toast: calc(infinity);
  --z-drawer: 300;
  --z-header: 200;
  --z-sidemenu: 100;

  --default-font-feature-settings: 'case', 'cv01', 'cv05', 'cv08', 'cv10', 'cv07', 'ss03';
  --f-feat-tnum: var(--default-font-feature-settings), 'tnum';

  @keyframes --k-top-logo-rot {
    from {
      translate: 0 -120px;
      rotate: -120deg;
    }
    to {
      translate: 0 0;
      rotate: 0;
    }
  }

  @keyframes --k-top-logo-fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  --animate-top-logo: --k-top-logo-rot 2s var(--ease-in-out-1), --k-top-logo-fade 2s linear;

  @keyframes --k-err-up-down {
    from {
      translate: 0 -15px;
    }
    to {
      translate: 0 15px;
    }
  }

  --animate-err-up-down: --k-err-up-down 1.5s var(--ease-in-out-1-slow) infinite alternate;

  @keyframes --k-err-rot {
    from {
      rotate: 0;
    }
    to {
      rotate: 360deg;
    }
  }

  --animate-err-rot: --k-err-rot 20s linear infinite;

  @keyframes --k-toast-fadein {
    from {
      opacity: 0;
      translate: 0 -15px;
    }
    to {
      opacity: 1;
      translate: 0 0;
    }
  }

  --animate-toast: --k-toast-fadein 240ms var(--ease-in-out-1);

  @keyframes --k-swa-slide-in {
    from {
      translate: 0 1rem;
    }
    to {
      translate: 0 0;
    }
  }

  @keyframes --k-swa-fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  --animate-swa: --k-swa-slide-in 300ms var(--ease-in-out-1), --k-swa-fade-in 300ms linear;
}

/* custom utilities */

@utility gbg-* {
  background-image: --value(--grad-*);

  @media (prefers-color-scheme: dark) {
    background-image: --value(--grad-d- *);
  }
}

@utility user-select-* {
  user-select: --value('none', 'auto', 'all', 'text');
  -webkit-user-select: --value('none', 'auto', 'all', 'text');
}

@utility grid-cols-auto-* {
  grid-template-columns: repeat(--value(integer), auto);
}

@utility cols-auto-fill-* {
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(calc(var(--spacing) * --value(integer)), 100%), 1fr)
  );
  grid-template-columns: repeat(auto-fill, minmax(min(--value([*]), 100%), 1fr));
}

@utility cols-auto-fit-* {
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(calc(var(--spacing) * --value(integer)), 100%), 1fr)
  );
  grid-template-columns: repeat(auto-fit, minmax(min(--value([*]), 100%), 1fr));
}

@utility font-feat-* {
  font-feature-settings: --value(--f-feat-*, [*]);
}

@utility cont-vis-* {
  content-visibility: --value('visible', 'hidden', 'auto');
}

@utility allow-discrete {
  transition-behavior: allow-discrete;
}

@utility btn-theme-1 {
  @apply bg-accent hover-focus:opacity-70 transition-opacity rounded text-textinv px-4 py-2 no-underline leading-none;
}

@utility btn-theme-2 {
  @apply bg-accent2 hover-focus:opacity-70 transition-opacity border border-border rounded px-2 leading-none;
}

@custom-variant any-hover {
  @media (any-hover: hover) {
    &:hover {
      @slot;
    }
  }
}

@custom-variant hover-focus {
  @media (any-hover: hover) {
    &:hover {
      @slot;
    }
  }

  &:focus-visible {
    @slot;
  }
}

/* base styles */

@layer base {
  :root {
    @apply max-sm:text-sm wrap-anywhere hyphens-auto font-sans;
    color-scheme: var(--color-scheme, 'light dark');
    -webkit-tap-highlight-color: revert;
    font-optical-sizing: auto;
    line-break: strict;
    scrollbar-gutter: stable;
    text-spacing-trim: trim-start;
    text-autospace: normal;
  }

  [lang] {
    word-break: normal;
  }

  @supports (word-break: auto-phrase) {
    [lang^='ja'] {
      word-break: auto-phrase;
    }
  }

  [lang='x-v3-karphnpn'] {
    @apply font-phun-dot;
  }

  :where([aria-disabled='true'], :disabled, [inert]) {
    @apply opacity-60! pointer-events-none!;
  }

  dialog,
  dialog::backdrop,
  [popover],
  [popover]::backdrop {
    @apply size-[unset] max-inline-[unset] max-block-[unset] fixed;
  }

  dialog,
  [popover] {
    @apply inset-[unset];
  }

  ::backdrop {
    @apply inset-0;
  }

  :where(dialog:not([open]):not([popover]), [popover]:not(:popover-open)) {
    @apply hidden!;
  }

  body {
    @apply flow-root bg-body text-text min-block-lvh;
  }

  main {
    @apply flow-root bg-main px-gutter min-block-lvh;
  }

  a:where(:any-link:not([aria-disabled='true'])) {
    @apply text-link hover-focus:underline;
  }

  b,
  strong,
  th {
    @apply font-semibold;
  }

  button,
  input:is([type='button'], [type='checkbox'], [type='radio'], [type='submit'], [type='reset']) {
    @apply cursor-pointer;
  }

  input:is(
    [type='text'],
    [type='number'],
    [type='url'],
    [type='email'],
    [type='search'],
    [type='tel']
  ),
  textarea {
    @apply font-mono border border-border rounded px-1;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-accent font-serif;
  }

  h2 {
    @apply text-3xl ps-1 pb-1 border-b border-border-darker;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-heading;
  }

  :not(li) > :where(p, ul, ol, pre) {
    @apply mt-paragraph;
  }

  :not(li) > :where(ul, ol) {
    @apply ps-6;
  }

  li > :where(ul, ol) {
    @apply ps-4;
  }

  img,
  table {
    @apply my-figure;
  }

  img {
    @apply mx-auto w-max max-w-full;
  }

  ul {
    list-style-type: '\2023\0020';
  }

  ol {
    @apply list-decimal;
  }

  textarea {
    @apply resize-y;
  }

  pre.shiki {
    @apply overflow-auto max-w-full p-4 rounded;
  }

  table {
    @apply grid break-keep wrap-normal w-max max-w-full text-center me-auto overflow-auto;
    grid-template-columns: repeat(var(--cols, 1), auto);
    grid-template-rows: repeat(calc(var(--rows, 1) + var(--caption, 0)), auto);
  }

  thead,
  tbody,
  tr {
    @apply contents;
  }

  td,
  th {
    @apply grid items-center col-span-(--colspan,1) row-span-(--rowspan,1) px-2 py-1;
  }

  caption {
    @apply col-span-full font-serif text-lg pb-1;
  }

  :is(td, th):where(thead > tr:last-child > *) {
    @apply border-b-3 border-double border-border-darker;
  }

  :is(td, th):where(tr:not(:last-child) > *) {
    @apply border-b border-border;
  }
}
